@{
    ViewData["Title"] = "Página Inicial";
}
<br />

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Nosso Sistema!</h1>
    <p>Estamos animados em tê-lo aqui. No entanto, gostaríamos de informar que o sistema está atualmente em construção.</p>
    <p>Estamos trabalhando duro para oferecer a melhor experiência possível. Fique atento para mais atualizações!</p>
    <p>Enquanto isso, você pode aprender mais acessando o nosso Linkedin <a href="https://www.linkedin.com/in/vinicius-silva-a6381122a/">Vinicius Sistemas LTDA</a>.</p>
    <img src="/images/Screenshot_1.png" alt="Imagem de exemplo" style="width: 700px; height: auto;" class="mt-4">

</div>
