@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Bem-vindo à política de privacidade da Vinícius Sistemas LTDA. Sua privacidade é importante para nós, e queremos garantir que você entenda como coletamos, usamos e protegemos suas informações pessoais.</p>

<h2>1. Coleta de Informações</h2>
<p>Coletamos informações pessoais que você nos fornece diretamente, como seu nome, e-mail e outras informações de contato quando você se registra em nosso site ou utiliza nossos serviços. Também podemos coletar informações automaticamente sobre seu dispositivo e seu uso do site, como endereços IP, tipo de navegador e páginas acessadas.</p>

<h2>2. Uso das Informações</h2>
<p>As informações que coletamos são usadas para:</p>
<ul>
    <li>Proporcionar e melhorar nossos serviços e a experiência do usuário.</li>
    <li>Comunicar-nos com você sobre atualizações, ofertas e novidades relacionadas aos nossos produtos e serviços.</li>
    <li>Personalizar seu acesso ao site e aos serviços com base em suas preferências.</li>
</ul>

<h2>3. Proteção das Informações</h2>
<p>Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, divulgação, alteração e destruição. Utilizamos tecnologia de criptografia e outras práticas recomendadas para manter a segurança dos seus dados.</p>

<h2>4. Compartilhamento de Informações</h2>
<p>Não vendemos nem alugamos suas informações pessoais a terceiros. Podemos compartilhar suas informações com parceiros de confiança que nos auxiliam na operação do site e na prestação de serviços, desde que estes parceiros concordem em manter a confidencialidade das informações.</p>

<h2>5. Seus Direitos</h2>
<p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais que possuímos. Se desejar exercer algum desses direitos, por favor, entre em contato conosco através dos meios fornecidos abaixo.</p>

<h2>6. Alterações na Política</h2>
<p>Podemos atualizar esta política de privacidade periodicamente. Recomendamos que você revise esta página ocasionalmente para se manter informado sobre quaisquer alterações.</p>

<h2>7. Contato</h2>
<p>Se você tiver alguma dúvida sobre nossa política de privacidade ou sobre como suas informações são tratadas, entre em contato conosco através do e-mail: <a href="contato@vinicius-sistemas.com.br">contato@vinicius-sistemas.com.br</a>.</p>

<div style="display: flex; justify-content: center; align-items: center;">
    <img src="/images/Screenshot_1.png" alt="Imagem de exemplo" style="width: 50%;">
</div>